table {
    width: 100%;

    th.mat-header-cell {
        color: #000;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
    }

    td.mat-cell {
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
    }

    tr.mat-row:hover {
        background: #F4F4F5;
        cursor: pointer;
    }
}

.card {
    padding: 16px 16px;
}