@import '../../assets/colors.scss';

.label {
    padding-left: 16px;
    padding-bottom: 24px;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 16px;
    padding-top: 8px;

    .label {
        padding: 0px;
    }

    .cell {
        padding-left: 16px;
    }

    .border {
        border-left: 1px solid #e9e9ea;
    }

    .item {
        color: $blue-darker;
        padding-bottom: 8px;
    }

    .full {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .questionText {
        font-style: italic;
    }

    .questionAnswer {
        padding-left: 16px;
    }
}

.card {
    padding: 16px 16px 16px 0px;
}