<title>{{ applicant.name }}</title>
<div class="card">
  <div class="label">Details</div>
  <div class="detail-container">
    <div class="cell">
      <div class="label item">Application ID</div>
      <div class="detail-content">{{ applicant.id }}</div>
    </div>

    <div class="cell border">
      <div class="label item">Position</div>
      <div class="detail-content">{{ applicant.position }}</div>
    </div>

    <div class="cell border">
      <div class="label item">Date Applied</div>
      <div class="detail-content">{{ applicant.applied }}</div>
    </div>

    <div class="cell border">
      <div class="label item">Experience</div>
      <div class="detail-content">{{ applicant.experience }} years</div>
    </div>

    <div class="cell">
      <div class="label item">Availability</div>
      <ul class="detail-content">
        <li>Monday: {{ applicant.availability.M | availability}}</li>
        <li>Tuesday: {{ applicant.availability.T | availability }}</li>
        <li>Wednesday: {{ applicant.availability.W | availability }}</li>
        <li>Thursday: {{ applicant.availability.Th | availability }}</li>
        <li>Friday: {{ applicant.availability.F | availability }}</li>
        <li>Saturday: {{ applicant.availability.S | availability }}</li>
        <li>Sunday: {{ applicant.availability.Su | availability }}</li>
      </ul>
    </div>

    <div class="cell border">
      <div class="label item">Questions</div>
    </div>

  </div>
</div>