/* You can add global styles to this file, and also import other style files */
@import './assets/colors.scss';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0px;
    padding: 0px;
    background: rgb(244, 244, 245);
    font-family: Nunito, sans-serif;
}

.card {
    width: 1200px;
    background: #FFF;
    margin: auto;
    margin-top: 16px;
    border: 1px solid #e9e9ea;
    padding: 16px 16px;

    .label {
        font-size: 12px;
        font-weight: 700;
        color: $blue-med;
        letter-spacing: 0.15px;
        text-transform: uppercase;
    }
}